<div id="order-receipt">
  <h3>Чек Замовлення</h3>
  <p>Дата: 25:10:2025</p>
  <p>Час: 19:08</p>
  <table>
    <tr>
      <th>Товар</th>
      <th>Кількість</th>
      <th>Ціна</th>
    </tr>
    <tr>
      <th>Бургер</th>
      <th>1</th>
      <th>160.00 грн</th>
      <th>Пепсі</th>
      <th>2</th>
      <th>40.00 грн</th>
    </tr>
  </table>
  <p>Загалом: 240.00 грн</p>
  <p>Андрій +380982748369</p>
  <p>проспект Незалежності, 3а, Долина, Івано-Франківська область, 77500</p>
  <p>2 підїзд, пепсі без цукрі</p>
</div>
